﻿<!DOCTYPE html>
<html lang="nb-NO">
<head>
    <meta charset="UTF-8">
    <title>Buss </title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css")" />
    <script>
        var global = {};
        global.api = "@(Url.Content("~/"))";
    </script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <header>
                <h2>Buss - en livsstil</h2>
            </header>
        </div>
        <div>
            <p id="errors"></p>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="busstable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Brand</th>
                        <th>Capacity</th>
                        <th>DO STUFF TO ME</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <form role="form" class="form-inline">
            <div class="form-group">
                <label for="brand">Brand</label>
                <input type="text" class="form-control" id="brand" placeholder="Brand">
            </div>
            <div class="form-group">
                <label for="capacity">Capacity</label>
                <input type="number" class="form-control" id="capacity">
            </div>
            <div class="form-group">
                <label for="drivers">Driver list, comma separated</label>
                <input type="text" class="form-control" id="drivers" placeholder="9,4">
            </div>
            <button type="button" id="addBuss" class="btn btn-default">Add buss</button>

        </form>
        <br /><br /><br />
        <form role="form" class="form-inline">
            <div class="form-group">
                <label for="brand">Id</label>
                <input type="number" class="form-control" id="editId">
            </div>
            <div class="form-group">
                <label for="brand">Brand</label>
                <input type="text" class="form-control" id="editBrand" placeholder="Brand">
            </div>
            <div class="form-group">
                <label for="capacity">Capacity</label>
                <input type="number" class="form-control" id="editCapacity">
            </div>
            <div class="form-group">
                <label for="drivers">Driver list, comma separated</label>
                <input type="text" class="form-control" id="editDrivers" placeholder="9,4">
            </div>
            <button type="button" id="editBuss" class="btn btn-default">edit buss</button>
        </form>
    </div>

    <script type="text/javascript" src="@Url.Content("~/bundles/jquery")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/bundles/bootstrap")"></script>
</body>
</html>